body {
    background-color: #222858;
    color: #f7efe5;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.start {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    height: 500px;
    grid-gap: 5px;
    margin-top: 20px;
    padding: 10px;
    height: 120px;
}

#startbutton {
    grid-column: 2;
    background-color: #ff7b00;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    padding-bottom: 20px;
    padding-top: 30px;
    font-size: 20px;
}

#button {
    grid-column: 2;
    background-color: #ff7b00;
    height: 20px;
    width: 80px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
    margin-left: 40px;
    text-align: center;
    opacity: 0.8;
    transition: 0.3s;
}

#button:hover {
    opacity: 1
}

#time {
    padding: 30px;
    padding-bottom: 27px;
    padding-top: 0px;
    padding-left: 39px;
    font-size: 50px;
    height: 20px;
    width: 30px;
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(255, 255, 255);
    }
    75% {
        transform: scale(1.8);
        color: #fd5825;
    }
    100% {
        transform: scale(0.95);
    }
}

h1 {
    grid-column: 2/3;
    text-align: center;
    font-size: 60px;
}

h2 {
    text-align: center;
    font-size: 48px;
}

a {
    text-decoration: none;
    color: #f7efe5;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 24px;
}

.quiz,
.summary {
    display: none;
}

.quiz ul {
    list-style: none;
    cursor: pointer;
    font-size: 24px;
}

.selected {
    color: #ff7b00;
    border-left: 2px solid #1c20ff;
    font-style: oblique;
    font-size: 26px;
}